<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554694189743-s5lnvodmpm963tpajiuslpfqi1cs87vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554694189743-s5lnvodmpm963tpajiuslpfqi1cs87vu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554694189743-126q1165iqeaq7hmo1l9ich7cqv3qssg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBaGjtBGJAjfgXaElJ-tTL0hYwe3hIp40</string>
	<key>GCM_SENDER_ID</key>
	<string>554694189743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativedatabase</string>
	<key>PROJECT_ID</key>
	<string>deep-linking-c06bf</string>
	<key>STORAGE_BUCKET</key>
	<string>deep-linking-c06bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554694189743:ios:7ff438c3e7988c5d1baa5a</string>
</dict>
</plist>